
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon" href="/templates/favicon.ico">
    <title>MovieCoint Web Wallet</title>

    <!-- Custom styles for this template -->
    <link href="/templates/headers.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
              <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
              <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
              <button type="button" class="btn btn-outline-light me-2">Login</button>
              <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div class="container-fluid">
        <div>
            <h1>Movie Coin Wallet</h1>
            <div class="container">
                <div class="row g-2 mb-3">
                    <div class="col mb-3">
                            <label for="wallet_amount">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
  <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
</svg>

                            </label>
                            <input
                                type="number" readonly class="form-control-plaintext"
                                id="wallet_amount" placeholder="0.0000"
                                min="1" step="any">
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- <p>Public  Key</p>
                <textarea id="public_key" rows="2" cols="64"></textarea> -->
                <div class="row mb-3">
                    <div class="col-lg-10">
                      <span>
                      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
  <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
  <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg><i>[public]</i></p>
                    </span>
                      <textarea id="public_key" rows="2" cols="64"></textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-10">
                      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
  <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg>[private]</p>
                      <textarea id="private_key" rows="1" cols="64"></textarea>
                    </div>
                </div>
                <p>Wallet Address</p>
                <textarea id="wallet_address" rows="1" cols="64"></textarea>
            </div>
        </div>
        <div>
          <hr>
        </div>
        <div class="container">
            <p>Send <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
  <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
  <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
  <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
</svg></p>
            <div class="row mb-3">
                <div class="col-sm-5">
                <label for="receiver_address" class="col-sm-2 col-form-label">To Address</label>
                <input type="text" class="form-control" id="receiver_address">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-5">
                <label for="send_amount" class="col-sm-2 col-form-label">Coins</label>
                <input type="number" class="form-control" id="send_amount">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary" id="send">SEND <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
  <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
  <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
  <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
</svg></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
         $(function () {
             $.ajax({
                 url: '/wallet',
                 type: 'POST',
                 success: function (response) {
                     $('#public_key').val(response['public_key']);
                     $('#private_key').val(response['private_key']);
                     $('#wallet_address').val(response['wallet_address']);
                     console.info(response);
                 },
                 error: function(error) {
                     console.error(error);
                 }
             });

            $("#send").click(function(){
                let transaction_data = {
                     'sender_private_key': $('#private_key').val(),
                     'sender_address': $('#wallet_address').val(),
                     'receiver_address': $('#receiver_address').val(),
                     'sender_public_key': $('#public_key').val(),
                     'amount': $('#send_amount').val(),
                 };
                console.info(transaction_data)
                $.ajax({
                    type: 'POST',
                    url: '/transaction',
                    data: JSON.stringify(transaction_data),
                    success: function (response) {
                         console.info(response);
                         if (response.message == 'fail') {
                             alert('Unsuccessful Send')
                         } else {
                             alert('Successfully Sent');
                         }
                     },
                     error: function (response) {
                         console.error(response);
                         alert('Send failed');
                     }
                 })
            });


             $('#send_money_button').click(function () {

                 let transaction_data = {
                     'sender_private_key': $('#private_key').val(),
                     'sender_address': $('#wallet_address').val(),
                     'receiver_address': $('#receiver_address').val(),
                     'sender_public_key': $('#public_key').val(),
                     'amount': $('#send_amount').val(),
                 };
                console.info(transaction_data)
                 $.ajax({
                     url: '/transaction',
                     type: 'POST',
                     contentType: 'application/json',
                     data: JSON.stringify(transaction_data),
                     success: function (response) {
                         console.info(response);
                         if (response.message == 'fail') {
                             alert('Unsuccessful Send')
                         } else {
                             alert('Successfully Sent');
                         }
                     },
                     error: function (response) {
                         console.error(response);
                         alert('Send failed');
                     }
                 })
             });

             function reload_amount() {
                 let data = {'wallet_address': $('#wallet_address').val()}
                 $.ajax({
                     url: '/wallet/amount',
                     type: 'GET',
                     data: data,
                     success: function (response) {
                         let amount = response['amount'];
                         $('#wallet_amount').val(parseFloat(amount));
                         console.info(amount)
                     },
                     error: function(error) {
                         console.error(error)
                     }
                 })
             }

             setInterval(reload_amount, 30000)

         })

    </script>


    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>
